/* Rectangle 1 */
box-sizing: border-box;

position: absolute;
width: 452px;
height: 56px;
left: 14px;
top: 5px;

border: 0.5px solid #151515;
border-radius: 57px;

/* Rectangle 2 */
box-sizing: border-box;

position: absolute;
width: 452px;
height: 55px;
left: 14px;
top: 5px;

border: 0.5px solid #151515;
border-radius: 57px;