:root {
  --clr-light: #ffffff;
  --clr-accent: #a5a5a5;
  --clr-header2: #343434;
  --clr-google: #121212;
  --clr-dark: #000000;

  --ff-serif-poppins: "Poppins", sans-serif;
  --ff-serif-montserrat: "Montserrat", sans-serif;
  --ff-serif-montserrat_alt: "Montserrat Alternates", sans-serif;
}

button {
  width: 100%;
  max-width: 480px;
  padding-block: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  background-color: transparent;
  border: 1px solid #959595;
  color: var(--clr-google);
  font-family: var(--ff-serif-poppins);
  border-radius: 3.125rem;
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-size: 15px;
  font-weight: 300;
}
button span {
  font-size: 15px;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--clr-light);
  background-image: none;
  background-repeat: no-repeat;
}
.card-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  flex: 1;
  color: var(--clr-dark);
  font-family: var(--ff-serif-montserrat);
  max-width: 500px;
  background-color: var(--clr-light);
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand span:nth-child(1) {
  padding: 8px 6px;
  font-weight: 600;
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
}
.brand h1 {
  font-weight: 300;
  font-size: 18px;
}

.card-header {
  margin-block: 50px;
  align-self: center;
  max-width: fit-content;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.card-header span {
  font-weight: 300;
  font-size: clamp(1.25rem, calc(-1.75rem + 15vw), 2.94rem);
  text-transform: uppercase;
}
.card-header span:nth-child(n + 3) {
  grid-column: 1/3;
}

.social-login {
  margin-block: 14px;
}

.divider {
  margin-block: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.divider span:nth-child(2) {
  font-size: 18px;
  font-weight: 300;
  color: var(--clr-accent);
}

.divider span:nth-child(1),
.divider span:nth-child(3) {
  display: block;
  border: 0.3px solid #cbcbcb;
  width: 200px;
}
.account {
  text-align: center;
}

.account button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.account > div:nth-child(2) > span {
  margin-top: 20px;
  display: block;
  font-weight: 300;
}

.policy {
  text-align: center;
}
.policy a {
  display: block;
  margin-top: 60px;
  color: var(--clr-accent);
  font-family: var(--ff-serif-poppins);
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  top: 4vh;
}
.card-layout > div:nth-child(8) {
  margin-block: 20px;
  width: 150px;
  height: 4px;
  background: var(--clr-accent);
  align-self: center;
}
.card-layout > div:nth-child(3),
.tablet-brand,
.left {
  display: none;
}

.right {
  margin-block: 35px;
  text-align: center;
}
.right h2 {
  font-family: var(--ff-serif-montserrat);
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.card-layout > .right:nth-child(3) p {
  font-family: var(--ff-serif-montserrat);
  color: var(--clr-header2);
  line-height: 1.1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
  top: 1vh;
}
@media (501px <= width <= 1200px) {
  main {
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-repeat: center;
  }

  .card-layout {
    max-width: 536px;
    padding: 25px 50px;
    max-height: 700px;
  }
  .card-layout > div:nth-child(3) {
    display: block;
  }
  .card-header,
  .brand,
  .card-layout > div:nth-child(8) {
    display: none;
  }
  .tablet-brand {
    display: block;
    color: var(--clr-light);
  }

  .tablet-brand {
    margin-block: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--ff-serif-montserrat);
  }

  .tablet-brand span:nth-child(1) {
    padding: 8px 6px;
    font-weight: 600;
    border: 1px solid var(--clr-light);
    border-radius: 10px;
  }
  .tablet-brand h1 {
    font-weight: 300;
    font-size: 18px;
  }
}
@media (width >= 1201px) {
  main {
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: contain;
  }
  main .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 35% center;
  }
  main .left .brand {
    margin-top: 2.3125rem;
    margin-left: 1.8125rem;

    font-family: var(--ff-serif-poppins);
  }
  main .left-body span {
    font-family: var(--ff-serif-poppins);
    font-weight: 275;
    font-size: clamp(4rem, calc(-2.92rem + 10.16vw), 9.75rem);
    line-height: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  main .left .brand span {
    margin-right: 3px;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--clr-light);
    border-radius: 9px;
    font-weight: bold;
  }
  main .left .left-body {
    padding-inline: 2.375rem;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .left-body > span:nth-child(3),
  .left-body > span:nth-child(4) {
    grid-column-start: 1;
    grid-column: 1/3;
  }

  .left-body__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-body__bottom p {
    flex: 1;
  }
  .left-body__bottom .create {
    margin-right: 1.625rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-family: var(--ff-serif-montserrat_alt);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--clr-light);
    text-decoration: none;
  }
  main .left .left-body img {
    width: 200px;
    height: auto;
  }
  main .left p {
    margin-left: 2.375rem;
    margin-bottom: 1.875rem;
    font-family: var(--ff-serif-montserrat_alt);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 1px;
    color: var(--clr-light);
  }
  .left-body__bottom p span {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.75rem;
  }
  .card-layout {
    justify-content: center;
  }
  .card-layout > div:nth-child(3) {
    display: block;
  }
  .card-layout > div:nth-child(8),
  .card-layout .brand,
  .card-header {
    display: none;
  }
  .social-logins,
  .account {
    margin-inline: 44px;
  }
}
